.idea
.DS_Store
.nyc_output
.vscode
node_modules
*.map
/src/compiler/compile/internal_exports.ts
/compiler.d.ts
/compiler.*js
/index.*js
/internal
/store
/easing
/motion
/transition
/animate
/scratch/
/coverage/
/coverage.lcov
/test/*/samples/_
/yarn-error.log
_actual*.*
_output
/types

/cypress/screenshots/
/__sapper__/
/.env
/.sessions
/static/svelte-app.json
/static/contributors.jpg
/static/workers
/static/organisations
/scripts/svelte-app
/scripts/community
/src/routes/_contributors.js
/src/routes/_components/WhosUsingSvelte.*
